/* HEADER */

.ml-auto a {
  margin-right: 15px;
}

/* APP COMPONENT */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px 0 50px !important;
  min-height: 500px;
  background-image: url("./assets/pic.jpg");
  background-size: cover;
  color: white;
}

.jumbotron h1 {
  font-size: 4rem;
}

/* HOW IT WORKS */

.how-it-works .product-list {
  justify-content: center;
}

/* SECTION */
.section {
  margin-top: 35px;
  margin-bottom: 35px;
}

.product-list {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product {
  max-width: 200px;
  margin: 25px;
}

/* HD Laptop Styles */
@media only screen and (min-width: 1439px) {
  .jumbotron {
    padding: 15px 200px 0 200px !important;
  }

  .jumbotron h1 {
    font-size: 5rem;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 450px) {
  .jumbotron {
    padding: 50px 15px 0 15px !important;
  }

  .product {
    max-width: 150px;
    margin: 15px;
  }

  .navbar-collapse {
    padding-top: 15px;
  }

  .search-btn {
    display: none !important;
  }
}

/* CATEGORIES */

.category-list {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.category-list .card {
  width: 250px;
  height: 250px;
}

.category {
  margin: 15px;
}

.card-img-overlay {
  align-items: flex-end;
  display: flex;
  justify-content: center;
}

/* FOOTER */

.footer {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #ddd;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
